<!DOCTYPE html>
<html lang="en">
    <head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScri pt Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href="style.css" rel="stylesheet">

</head>
<body>
<!-- start of form -->
<!DOCTYPE html>
<html>
    <head>
        <body>
            <div class="main">  	
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="Registeration">
                    <form action="/result.html" method="post">
                        <label for="chk" aria-hidden="true">Registeration</label>
                        <input  type="text" name="un" placeholder="User name" required="">
					    <input  type="email" name="ue" placeholder="Email Id" required="">
                        <input type="number" name="un" placeholder="phone number" required="">
                        <input type="text" name="un" placeholder="Gender" requires="">
                        <input type="text" name="un" placeholder="location" requires="">
					    <input  type="password" name="up" placeholder="Password" required="">
                        <input type="password" name="up" placeholder="confirmaton password" required="">
					    <button type="submit">Submit</button>
                        
                    </form>
                </div>
            </div>
        </body>
    </head>
</html>
<!-- end of form -->
</body>
</html>
